<div class="card" *ngFor = 'let movie of movies'>
  <div class="row">
   <div class="col-3">
     <img src='assets/imgFilm/{{movie.imgUrl}}' class="card-img" style = "height: '100%'" />
   </div>
   <div class="col-9">
     <div class="card-body">
          <h5  class="card-title">
            <a href="">{{movie.name}}</a>
          </h5>
          <p class="card-text">{{movie.description}}</p>
     </div>
   </div>
  </div>
</div>
<div *ngIf=" moviesLength >5 " class="text-center my-2">
  <a routerLink = "/movies" class="btn btn-primary"> More Movies </a>
</div>
